name: Build for Play Store

on:
  # Enable manual run
  workflow_dispatch:
  push:
    tags:
      - '**'
    branches:
      - '**'
    paths:
      - .github/workflows/android-play-store.yml

jobs:
  build-aab:
    name: Build AAB for the Play Store
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout assets
        uses: actions/checkout@v4
        with:
          repository: adil192/fan-assets
          path: assets/images/fan-assets
          token: ${{ secrets.FAN_ASSETS_TOKEN}}
      - name: Print assets directory contents
        run: tree assets

      - name: Setup cache
        uses: actions/cache/restore@v4
        with:
          path: |
            .dart_tool/
            build/
            linux/flutter/ephemeral/
            macos/Flutter/ephemeral/
            windows/flutter/ephemeral/
            .flutter-plugins-dependencies
            pubspec.lock
          key: ${{ runner.OS }}-fan-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.OS }}-fan-

      - name: Remove development dependencies
        run: ./patches/remove_dev_dependencies.sh

      - name: Setup keystore
        run: |
          echo "${{ secrets.SIGNING_KEY }}" | base64 -d > android/android.jks
          echo "storePassword=${{ secrets.KEY_STORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=../android.jks" >> android/key.properties

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:'

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Disable Flutter CLI animations
        run: flutter config --no-cli-animations

      - run: flutter pub get

      - run: flutter build appbundle

      - name: Rename aab
        run: |
          mkdir -p output
          mv build/app/outputs/bundle/release/app-release.aab output/JustFanNoise.aab

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: JustFanNoise-Android-PlayStore
          path: output/JustFanNoise.aab

  upload-to-play-store:
    name: Upload to Play Store
    runs-on: ubuntu-latest
    needs: build-aab
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: JustFanNoise-Android-PlayStore
          path: output

      - name: Prepare whatsnew directory from metadata/*/changelogs
        working-directory: ${{ github.workspace }}
        run: |
          # display changelogs for debugging
          find metadata -name '*.txt'

          mkdir -p whatsnew

          # get current version code from pubspec.yaml
          VERSION_CODE=$(grep 'version: ' pubspec.yaml | sed 's/.*+//')

          # copy changelogs of each language to whatsnew
          for dir in metadata/*/changelogs; do
              # get language code from directory name
              # e.g. metadata/en-US/changelogs -> en-US
              lang=${dir#metadata/}
              lang=${lang%/changelogs}

              # get original changelog file
              original="$dir/$VERSION_CODE.txt"

              if [ -f "$original" ]; then
                # copy changelog file to whatsnew
                cp "$original" "whatsnew/whatsnew-${lang}"
              fi
          done

      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_JSON }}
          packageName: com.adilhanney.fan
          releaseFiles: output/JustFanNoise.aab
          track: production
          status: completed
          whatsNewDirectory: whatsnew
